$color1: red;
$color2: blue;

ul {
    > li {
        color: $color1;
        background-color: $color2;

        &:nth-child(even) {
            color: $color2;
            background-color: $color1
        }
    }
}