<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello world</title>
</head>
<body>
    <hello-world>Заглушка при загрузке компонента</hello-world>

    <script src="~/bundle/main.js"></script>
</body>
</html>